PROJECT_NAME="Auth Service"
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/auth_db"
JWT_PRIVATE_KEY_PATH="keys/private.pem"
JWT_PUBLIC_KEY_PATH="keys/public.pem"
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30
JWT_ALGORITHM="RS256"
